<section class="tab tab-content-scrollable sheet-body character-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}"
  data-group="{{ tab.group }}">
  {{!-- Biography Tab --}}
  <div>
    <div class="grid grid-2col">
      <div>
        <ul class="item-list alternate-list">
          <li class="item flexrow">
            <label class="generic-label">{{localize "WH.ui.origin"}}</label>
            <input type="text" class="" name="system.biodata.origin" value="{{system.biodata.origin}}"
              data-dtype="String" />
          </li>
          <li class="item flexrow">
            <label class="generic-label">{{localize "WH.ui.age"}}</label>
            <input type="text" class="" name="system.biodata.age" value="{{system.biodata.age}}" data-dtype="String" />
          </li>
          <li class="item flexrow">
            <label class="generic-label">{{localize "WH.ui.height"}}</label>
            <input type="text" class="" name="system.biodata.height" value="{{system.biodata.height}}"
              data-dtype="String" />
          </li>
          <li class="flexrow item">
            <label class="generic-label">{{localize "WH.ui.preferredhand"}}</label>
            <input type="text" class="" name="system.biodata.preferredhand" value="{{system.biodata.preferredhand}}"
              data-dtype="String" />
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="flexrow item">
            <label class="generic-label">{{localize "WH.ui.gender"}}</label>
            <input type="text" class="" name="system.biodata.sex" value="{{system.biodata.sex}}" data-dtype="String" />
          </li>
          <li class="item flexrow">
            <label class="generic-label">{{localize "WH.ui.eyes"}}</label>
            <input type="text" class="" name="system.biodata.eyes" value="{{system.biodata.eyes}}"
              data-dtype="String" />
          </li>
          <li class="item flexrow">
            <label class="generic-label">{{localize "WH.ui.hair"}}</label>
            <input type="text" class="" name="system.biodata.hair" value="{{system.biodata.hair}}"
              data-dtype="String" />
          </li>
        </ul>
      </div>
    </div>


    <hr>
    <h3>{{localize "WH.ui.background"}} : </h3>
    <div class="editor">
      {{formInput systemFields.biodata.fields.description enriched=enrichedDescription value=system.biodata.description
      name="system.biodata.description"
      toggled=true}}
    </div>
    <hr>
    <h3>{{localize "WH.ui.notes"}} : </h3>
    <div class="editor">
      {{formInput systemFields.biodata.fields.notes enriched=enrichedNotes value=system.biodata.notes
      name="system.biodata.notes"
      toggled=true}}
    </div>
    <hr>
    </article>

    {{#if isGM}}
    <div>
      <ul class="stat-list alternate-list">
        <li class="item flexrow list-item items-title-bg">
          <span class="item-name-label-header-long">
            <h3><label class="items-title-text">{{localize "WH.ui.allitems"}}</label></h3>
          </span>
          <span class="item-field-label-medium">
            <label class="short-label">{{localize "WH.ui.type"}}</label>
          </span>
        </li>
        {{#each allItems as |item key|}}
        <li class="item flexrow list-item list-item-shadow" data-item-id="{{item._id}}">
          <a class="item-edit item-name-img" data-action="item-edit" title="Edit Item"><img class="sheet-competence-img"
              src="{{item.img}}" /></a>
          <span class="item-name-label-long">{{item.name}}</span>

          <span class="item-field-label-medium">{{upperFirst item.type}}</span>

          <div class="item-filler">&nbsp;</div>
          <div class="item-controls item-controls-fixed">
            <a class="item-control item-delete" data-action="item-delete" title="Delete Item"><i
                class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>

</section>