<section class="tab character-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  {{!-- Main Tab --}}
  <div>
    <div class="flexrow align-items-start">

      <div class=" ability-item div-align-top">
        <ul>
          {{#each system.attributes as |attr key|}}
          {{#if (not attr.iscombat)}}
          {{#if (not attr.isheader)}}
          {{> systems/fvtt-warhero/templates/actors/partial-actor-stat-block.hbs stat=attr key=key path="attributes"
          fieldClass="item-field-label-vlong"}}
          {{/if}}
          {{/if}}
          {{/each}}
        </ul>
      </div>

      <div class="ability-item">
        <ul>
          <li class="item flexrow list-item item-stat-roll" data-attr-key="{{ key }}">
            <span class="item-field-label-vlong" name="{{ key }}">
              <h4 class="item-field-label-vlong">
                {{localize "WH.ui.xphp"}}
              </h4>
            </span>
            <span class="item-field-label-long">{{ hpprogression }}</span>
          </li>

          {{#each system.secondary as |second key|}}
          {{#if (not second.iscombat)}}
          {{> systems/fvtt-warhero/templates/actors/partial-actor-stat-block.hbs stat=second key=key path="secondary"
          fieldClass="item-field-label-vlong"}}
          {{/if}}
          {{/each}}
        </ul>

        <div>
          <ul class="stat-list alternate-list">
            <li class="item flexrow list-item items-title-bg">
              <span class="item-name-label-header-long">
                <h3>
                  <label class="items-title-text">{{localize "WH.ui.languages"}}</label>
                </h3>
              </span>
            </li>
            {{#each languages as |language key|}}
            <li class="item flexrow list-item list-item-shadow" data-item-id="{{ language._id }}">
              <a class="item-edit item-name-img" data-action="item-edit" title="Edit Item"><img class="sheet-competence-img"
                  src="{{ language.img }}" /></a>
              <span class="item-name-label-long">{{ language.name }}</span>

              <div class="item-filler">&nbsp;</div>
              <div class="item-controls item-controls-fixed">
                <a class="item-control item-delete" data-action="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>