<div class="warhero-roll-dialog">
  <header class="roll-dialog-header flexrow">
    {{#if img}}
    <img class="actor-icon" src="{{img}}" data-edit="img" title="{{name}}" />
    {{/if}}
    <h3 class="dialog-roll-title roll-dialog-header">{{localize title}}</h3>
  </header>

  <div class="dialog-section">
    {{#if weapon}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.ui.weapon"}}</span>
      <span class="row-value">{{weapon.name}}</span>
    </div>

    {{#if (eq mode "damage")}}
    {{#if (eq weapon.system.weapontype "special")}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.ui.damage"}}</span>
      <span class="row-value">{{weapon.system.damageformula}}</span>
    </div>
    {{else}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.ui.damage"}}</span>
      <span class="row-value">
        {{#if is2hands}}{{weapon.damageFormula2Hands}}{{else}}{{weapon.damageFormula}}{{/if}}
      </span>
    </div>
    {{/if}}

    {{else}}
    {{#if (eq weapon.system.weapontype "special")}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.chat.rollformula"}}</span>
      <span class="row-value">{{weapon.system.rollformula}}</span>
    </div>
    {{/if}}
    {{/if}}
    {{/if}}

    {{#if stat}}
    {{#if dexValue}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.ui.Dexterity"}}</span>
      <span class="row-value">{{dexValue}}</span>
    </div>
    {{/if}}
    <div class="dialog-row">
      <span class="row-label">{{localize stat.label}}</span>
      {{#if (eq mode "save")}}
      <span class="row-value">{{stat.save}}</span>
      {{else}}
      <span class="row-value">{{stat.value}}</span>
      {{/if}}
    </div>

    {{#if stat.istxc}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.chat.mweaponmalus"}} ({{mWeaponMalus}})</span>
      <input type="checkbox" id="usemWeaponMalusCheck" name="usemWeaponMalusCheck"
        {{checked usemWeaponMalus}} />
    </div>
    {{/if}}
    {{/if}}

    {{#unless (eq mode "damage")}}
    {{#unless (eq mode "power")}}
    {{#unless (and weapon (or weapon.system.isCustomAttackRoll (eq weapon.system.weapontype "special")))}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.dialog.rolldice"}}</span>
      <select class="row-value" name="advantage">
        {{selectOptions config.advantageOptions selected=advantage valueAttr="value" labelAttr="label" localize=true}}
      </select>
    </div>
    {{/unless}}
    {{/unless}}
    {{/unless}}
  </div>

  {{#if shield}}
  <div class="dialog-section">
    <div class="section-title">{{localize "WH.ui.Defence"}}</div>
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.chat.useshield"}}</span>
      <input type="checkbox" id="useshield" name="useshield" {{checked useshield}} />
    </div>
    <div class="dialog-row">
      <span class="row-label">{{shield.name}}</span>
      <span class="row-value">{{shield.system.parrybonus}}</span>
    </div>
  </div>
  {{/if}}

  {{#if power}}
  <div class="dialog-section">
    <div class="section-title">{{localize "WH.ui.power"}}</div>
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.chat.power"}}</span>
      <span class="row-value">{{power.name}}</span>
    </div>
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.chat.powerlevel"}}</span>
      <input class="row-value" type="number" id="powerLevel" name="powerLevel" value="{{powerLevel}}" min="1" />
    </div>
    {{#if power.system.isteleport}}
    {{#if locations}}
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.ui.location"}}</span>
      <select class="row-value" type="text" id="selectedLocation" name="selectedLocation">
        <option value="">{{localize "WH.ui.selectlocation"}}</option>
        {{#each locations as |location|}}
        <option value="{{location._id}}">{{location.name}}</option>
        {{/each}}
      </select>
    </div>
    {{/if}}
    {{/if}}
  </div>
  {{/if}}

  {{#if hasBM}}
  <div class="dialog-section">
    <div class="dialog-row">
      <span class="row-label">Bonus/Malus</span>
      <select class="row-value" type="text" id="bonusMalus" value="{{bonusMalus}}">
        {{selectOptions config.bonusMalusOptions selected=bonusMalus valueAttr="value" nameAttr="value"
        labelAttr="label"}}
      </select>
    </div>
  </div>
  {{/if}}

  <div class="dialog-section">
    <div class="dialog-row">
      <span class="row-label">{{localize "WH.dialog.rollmode.label"}}</span>
      <select class="row-value" name="rollMode">
        {{selectOptions config.rollModeOptions selected=rollMode valueAttr="value" labelAttr="label" localize=true}}
      </select>
    </div>
  </div>
</div>
