<section class="tab equipment-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <label class="generic-label description-title">Description</label>
  <div class="editor item-text-long-line">
    {{formInput systemFields.description enriched=enrichedDescription value=system.description name="system.description"
    toggled=true}}
  </div>
</section>