<section class="tab equipment-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <ul>

      <li class="flexrow"><label class="item-field-label-medium ">{{localize "WH.ui.providedslot"}}</label>
        <input type="text" class="item-field-label-medium " name="system.providedslot" value="{{system.providedslot}}"
          data-dtype="Number" />
      </li>

      {{> systems/fvtt-warhero/templates/items/partial-item-common-equipment.hbs}}

    </ul>

</section>