<section class="tab equipment-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <ul>
    <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.israceskill"}}</label>
      <input type="checkbox" name="system.raceskill" {{checked system.raceskill}} />
    </li>

    <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.isclassskill"}}</label>
      <input type="checkbox" name="system.classskill" {{checked system.classskill}} />
    </li>

    <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.unlimited"}}</label>
      <input type="checkbox" name="system.unlimited" {{checked system.unlimited}} />
    </li>

    <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.skilllevelacquired"}}</label>
      <input type="text" class="item-field-label-medium " name="system.acquiredatlevel"
        value="{{system.acquiredatlevel}}" data-dtype="Number" />
    </li>

    {{#if system.unlimited}}

    {{else}}
    <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.currentuse"}}</label>
      <input type="text" class="item-field-label-medium " name="system.currentuse" value="{{system.currentuse}}"
        data-dtype="Number" />
    </li>
    <li class="flexrow"><label class="item-field-label-long ">{{localize "WH.ui.maxuse"}}</label>
      <input type="text" class="item-field-label-medium " name="system.maxuse" value="{{system.maxuse}}"
        data-dtype="Number" />
    </li>
    {{/if}}
  </ul>
</section>